<ng-container *ngIf="sesion$ | async as sesion">
    <div class="row display-flex spinner" *ngIf="cargando$ | async">
        <div class="col align-self-center">
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <div class="table"  *ngIf="!(cargando$ | async)">
        <div class="row">
            <form [formGroup]="formFilter" class="form-filter"  class="col-10">
                <div class="row">
                    <div class="col-auto">
                        <label for="nombre" class="form-label filter-title">Nombre Curso</label>
                    </div>
                    <div class="mb-3" class="col-9">
                        <input formControlName="nombre" type="text" class="form-control" id="nombre">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn" mat-raised-button color="primary">Filtrar</button>
                    </div>
                </div>
            </form>
            <div class="col-2" *ngIf="sesion.usuarioActivo?.esAdmin">
                <button (click)="abrirAgregar()" mat-raised-button color="accent">Agregar Curso</button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="curso">
                <th mat-header-cell *matHeaderCellDef >Curso</th>
                <td mat-cell *matCellDef="let element">{{ element.nombreCurso | nombres: element.nombreCurso }}</td>
            </ng-container>
            <ng-container matColumnDef="comision">
                <th mat-header-cell *matHeaderCellDef >Comision</th>
                <td mat-cell *matCellDef="let element">{{ element.comision }}</td>
            </ng-container>
            <ng-container matColumnDef="profesor">
                <th mat-header-cell *matHeaderCellDef >Profesor</th>
                <td mat-cell *matCellDef="let element">{{ element | nombres: element.profesor:
                    element.profesor.nombre }}</td>
            </ng-container>
            <ng-container matColumnDef="fecha de inicio">
                <th mat-header-cell *matHeaderCellDef >Fecha de inicio</th>
                <td mat-cell *matCellDef="let element"> {{ element.fechaInicio | date: "dd/MM/YYY" }}</td>
            </ng-container>
            <ng-container matColumnDef="fecha de finalizacion">
                <th mat-header-cell *matHeaderCellDef >Fecha de finalizacion</th>
                <td mat-cell *matCellDef="let element"> {{ element.fechaFin | date: "dd/MM/YYY" }}</td>
            </ng-container>
            <ng-container matColumnDef="inscripcion">
                <th mat-header-cell *matHeaderCellDef >Inscripcion</th>
                <td mat-cell *matCellDef="let element"> {{ element.estadoInscripcion | booleanToText: "Abierta" :
                    "Cerrada" }}</td>
            </ng-container>
            <ng-container matColumnDef="acciones" >
                <th mat-header-cell *matHeaderCellDef >Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="abrirEditarCurso(element)"
                        *ngIf="sesion.usuarioActivo?.esAdmin">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="eliminarCurso(element)"
                        *ngIf="sesion.usuarioActivo?.esAdmin">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button color="primary"
                        *ngIf="!sesion.usuarioActivo?.esAdmin && element.estadoInscripcion">
                        Inscribirse
                    </button>
                    <button mat-button disabled color="warn"
                        *ngIf="!sesion.usuarioActivo?.esAdmin && !element.estadoInscripcion">
                        Sin cupos disponibles
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
    </div>
</ng-container>