<ng-container *ngIf="sesion$ | async as sesion">
    <div class="table">
        <table mat-table [dataSource]="dataSource" #table>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element | nombres: element.nombre:element.apellido }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element"> {{ element.estado | booleanToText:"Activo":"Inactivo" }}</td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="abrirEditar(element)"
                        *ngIf="sesion.usuarioActivo?.esAdmin">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="eliminarAlumno(element)"
                        *ngIf="sesion.usuarioActivo?.esAdmin">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="!sesion.usuarioActivo?.esAdmin && element.estado">
                        <mat-icon>message</mat-icon>
                    </button>
                    <button mat-icon-button disabled *ngIf="!sesion.usuarioActivo?.esAdmin && !element.estado">
                        <mat-icon>message</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
    </div>
</ng-container>