<div class="table">
    <div class="row">
        <form [formGroup]="formFilter" class="form-filter" (ngSubmit)="filtrarAlumno()" class="col-10">
            <div class="row">
                <div class="col-auto">
                    <label for="exampleInputNombre1" class="form-label filter-title">Nombre Alumno</label>
                </div>
                <div class="mb-3" class="col-9">
                    <input formControlName="nombre" type="text" class="form-control" id="exampleInputNombre1">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn" mat-raised-button color="primary">Filtrar</button>
                </div>
            </div>
        </form>
        <div class="col-2">
            <button (click)="abrirAgregar()" mat-raised-button color="accent">Agregar Alumno</button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" #table>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef appTitulos>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef appTitulos>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element | nombres: element.nombre:element.apellido }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef appTitulos>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef appTitulos>Estado</th>
            <td mat-cell *matCellDef="let element"> {{ element.estado | booleanToText:"Activo":"Inactivo" }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef appTitulos>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="abrirEditar(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarAlumno(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
</div>

