<div mat-dialog-title>Editar Alumnos</div>
<div mat-dialog-content>
    <form [formGroup]="formAlumnos">
        <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" aria-describedby="emailHelp" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="inputApelido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApelido" formControlName="apellido">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="mail" class="form-control" id="inputEmail" formControlName="email">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkboxEstado" formControlName="estado">
            <label class="form-check-label" for="checkboxEstado" >Estado</label>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" [disabled]="formAlumnos.invalid" (click)="editarAlumno()">Editar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</div>