<mat-toolbar class="example-sidenav-content" color="primary">
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <button mat-icon-button color="accent" routerLink="inicio"> <mat-icon>home</mat-icon></button>
    <span>Comunidad Inglesa</span>
    <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matTooltip="Iniciar Sesion">
            <mat-icon>login</mat-icon>
        </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="false">
        <button mat-button color="accent" routerLink="alumnos/listar">Alumnos</button>
        <br>
        <button mat-button color="accent" routerLink="cursos/listar">Cursos</button>
    </mat-drawer>
    <div align="center">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>