.example-sidenav-content{
    height: 7%;
}

.example-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 93%;
}

.example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}