<mat-card class="agregar-alumnos" align="start">
<div mat-dialog-title>Agregar Alumnos</div>
<div mat-dialog-content>
    <form [formGroup]="formAgregarAlumnos">
        <div class="mb-3">
            <label for="inputID" class="form-label">ID</label>
            <input type="number" class="form-control" id="inputID"  formControlName="id">
        </div>
        <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre"  formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="inputApelido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApelido" formControlName="apellido">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="mail" class="form-control" id="inputEmail" formControlName="email">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkboxEstado" formControlName="estado">
            <label class="form-check-label" for="checkboxEstado" >Estado</label>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button type="submit" mat-raised-button color="accent" [disabled]="formAgregarAlumnos.invalid"  (click)="agregarAlumno()">Agregar</button>
</div>
</mat-card>